# Written by chalkos-storage from /state/storage.
[Unit]
Description=Unlock chalkos volume raw
DefaultDependencies=no
IgnoreOnIsolate=true
BindsTo=dev-disk-chalk\x2dboot-raw.device
After=dev-disk-chalk\x2dboot-raw.device cryptsetup-pre.target systemd-udevd-kernel.socket
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=infinity
KeyringMode=shared
OOMScoreAdjust=500
ExecStart=/run/current-system/sw/bin/systemd-cryptsetup attach 'raw' '/dev/disk/chalk-boot/raw' '-' 'tpm2-device=auto'
ExecStop=/run/current-system/sw/bin/systemd-cryptsetup detach 'raw'
